$accent: #FF6838;
$default: #31352B;
$title: #363853;

%rubik-normal{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

%rubik-italic{
  font-family: 'Rubik', sans-serif;
  font-style: italic;
}